## combine data sets

In [3]:
import pandas as pd

In [4]:
# load 2019 data

# note: originally 24mos (jan 2018-dec 2019) were loaded to tableau but it exceeded the row limit 
# of 15M rows. dataset was ultimately reduced to only april-october 2019 in order to draw as many
# meaningful conclusions as possible

apr19 = pd.read_csv("201904-citibike-tripdata.csv")
may19 = pd.read_csv("201905-citibike-tripdata.csv")
jun19 = pd.read_csv("201906-citibike-tripdata.csv")
jul19 = pd.read_csv("201907-citibike-tripdata.csv")
aug19 = pd.read_csv("201908-citibike-tripdata.csv")
sep19 = pd.read_csv("201909-citibike-tripdata.csv")
oct19 = pd.read_csv("201910-citibike-tripdata.csv")

In [5]:
# combine dfs
df = apr19.append(may19, ignore_index=True).append(jun19, ignore_index=True).append(jul19, ignore_index=True).append(aug19, ignore_index=True).append(sep19, ignore_index=True).append(oct19, ignore_index=True)

In [7]:
# remove outliers (DOB before 1920 are likely typos, trips more than 2 hours are rare and 
# throw off charts, some stations were originally marked in canada which is not possible) & NaNs
df_reduced = df.loc[(df['birth year'] > 1920) & (df['tripduration'] <= 7200) & (df['start station latitude'] < 43) & (df['end station latitude'] < 43)].dropna()

In [8]:
# drop extra columns
df_reduced = df_reduced[['tripduration', 'starttime', 'stoptime',
       'start station id', 'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender']]

In [9]:
# rename columns
df_renamed = df_reduced.rename(columns={
    'tripduration':'Trip Duration', 
    'starttime': 'Start Time', 
    'stoptime': 'Stop Time',
    'start station id': 'Start Station ID', 
    'start station name': 'Start Station Name', 
    'start station latitude': 'Start Station Latitude',
    'start station longitude': 'Start Station Longitude', 
    'end station id': 'End Station ID', 
    'end station name': 'End Station Name',
    'end station latitude': 'End Station Latitude', 
    'end station longitude': 'End Station Longitude', 
    'bikeid': 'Bike ID', 
    'usertype': 'Rider Type',
    'birth year': 'Birth Year', 
    'gender': 'Gender'
})

In [10]:
# preview
df_renamed

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,Rider Type,Birth Year,Gender
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254.0,W 11 St & 6 Ave,40.735324,-73.998004,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244.0,University Pl & E 8 St,40.731437,-73.994903,3244.0,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526.0,E 33 St & 5 Ave,40.747659,-73.984907,474.0,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461.0,E 20 St & 2 Ave,40.735877,-73.982050,504.0,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14878783,729,2019-10-31 23:59:12.1900,2019-11-01 00:11:21.4860,237.0,E 11 St & 2 Ave,40.730473,-73.986724,311.0,Norfolk St & Broome St,40.717227,-73.988021,25725,Subscriber,1995,1
14878784,645,2019-10-31 23:59:17.0470,2019-11-01 00:10:02.9450,3259.0,9 Ave & W 28 St,40.749370,-73.999234,461.0,E 20 St & 2 Ave,40.735877,-73.982050,39583,Customer,1969,0
14878785,257,2019-10-31 23:59:22.5140,2019-11-01 00:03:40.2600,3798.0,W 40 St & 5 Ave,40.752269,-73.982079,505.0,6 Ave & W 33 St,40.749013,-73.988484,21240,Subscriber,1985,1
14878786,466,2019-10-31 23:59:23.1710,2019-11-01 00:07:09.2050,328.0,Watts St & Greenwich St,40.724055,-74.009660,361.0,Allen St & Hester St,40.716059,-73.991908,34916,Subscriber,1989,0
14878787,81,2019-10-31 23:59:51.5170,2019-11-01 00:01:13.2150,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3093.0,N 6 St & Bedford Ave,40.717452,-73.958509,25745,Subscriber,1990,1

In [ ]:
# citibike_data.csv is the main file for the tableau workbook
df_renamed.to_csv("citibike_data.csv")